.final-box {
  text-align: center;
  background: pink;
  padding: 30px;
}

.qr {
  width: 220px;
  margin: 20px 0;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.photos img {
  width: 150px;
  border-radius: 30px;
}
